<div align="center" class="mqtt">
    <table><tr><td></td></tr>
      <tr>
      <td><label>MQTT Server Address:</label><input type="text" id="mqtt_server" value="test.coppercloud.in"/></td>
      <td><label>Websocket Port:  </label><input type="text" id="mqtt_port" value="9001"/></td>
      <td><label>MQTT Topic:</label><input disabled type="text" id="mqtt_subtopic" value="iot-emulator/#"></td>
      <td><button class="w3-button w3-blue" onclick="sub_mqtt_msg()">SUBSCRIBE</button></td>
    </tr>
    </table>
  </div> 
