<div class="elements">
    <img  
    draggable="true" 
    ondragstart="drag(event)" 
    id="img-light" 
    src="https://previews.123rf.com/images/ericmilos/ericmilos0912/ericmilos091200136/6109526-3d-render-of-light-bulb-on-white.jpg" 
    alt="iot-emulator/light">
</div>
<div class="elements">
    <img 
    draggable="true" 
    ondragstart="drag(event)" 
    id="img-motor" 
    src="assets/images/static-fan.png" 
    alt="iot-emulator/motor">
</div>
<div class="elements">
    <img 
    draggable="true" 
    ondragstart="drag(event)" 
    id="img-sensor" 
    src="assets/images/images.png" 
    alt="iot-emulator/sensor">
</div>
<div class="elements">
    <img 
    draggable="true" 
    ondragstart="drag(event)" 
    id="img-pir" 
    src="assets/images/pir.jpg" 
    alt="iot-emulator/pir">
</div>
<div class="elements">
    <img 
    draggable="true" 
    ondragstart="drag(event)" 
    id="img-gas" 
    src="assets/images/gas-sensor.jpg" 
    alt="iot-emulator/gas">
</div>
<div class="elements">
    <img 
    draggable="true" 
    ondragstart="drag(event)" 
    id="img-humidity" 
    src="assets/images/humdity-sensor.jpg" 
    alt="iot-emulator/humidity">
</div>
<div class="elements">
    <img 
    draggable="true" 
    ondragstart="drag(event)" 
    id="img-light-sensor" 
    src="assets/images/light-sensor.jpg" 
    alt="iot-emulator/light-sensor">
</div>
<div class="elements">
    <img 
    draggable="true" 
    ondragstart="drag(event)" 
    id="img-pressure" 
    src="assets/images/pressure-sensor.jpg" 
    alt="iot-emulator/pressure">
</div>
<div class="elements">
    <img 
    draggable="true" 
    ondragstart="drag(event)" 
    id="img-switch" 
    src="assets/images/switch.jpg" 
    alt="iot-emulator/switch">
</div>
<div class="elements">
    <img 
    draggable="true" 
    ondragstart="drag(event)" 
    id="img-lock" 
    src="assets/images/lock.jpg" 
    alt="iot-emulator/lock">
</div>
<div class="elements">
    <img 
    draggable="true" 
    ondragstart="drag(event)" 
    id="img-camera" 
    src="assets/images/camera.png" 
    alt="iot-emulator/camera">
</div>
<div class="elements">
    <img 
    draggable="true" 
    ondragstart="drag(event)" 
    id="img-heart" 
    src="assets/images/heartbeat.jpg" 
    alt="iot-emulator/heart">
</div>